<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>airportCode</key>
		<string>ABQ</string>
		<key>city</key>
		<string>Albuquerque</string>
		<key>state</key>
		<string>NM</string>
        <key>timeZone</key>
		<string>America/Denver</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ALB</string>
		<key>city</key>
		<string>Albany</string>
		<key>state</key>
		<string>NY</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>AMA</string>
		<key>city</key>
		<string>Amarillo</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ATL</string>
		<key>city</key>
		<string>Atlanta</string>
		<key>state</key>
		<string>GA</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>AUS</string>
		<key>city</key>
		<string>Austin</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
    <dict>
		<key>airportCode</key>
		<string>BBG</string>
		<key>city</key>
		<string>Branson</string>
		<key>state</key>
		<string>MO</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BDL</string>
		<key>city</key>
		<string>Hartford</string>
		<key>state</key>
		<string>CT</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BHM</string>
		<key>city</key>
		<string>Birmingham</string>
		<key>state</key>
		<string>AL</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BNA</string>
		<key>city</key>
		<string>Nashville</string>
		<key>state</key>
		<string>TN</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BOI</string>
		<key>city</key>
		<string>Boise</string>
		<key>state</key>
		<string>ID</string>
        <key>timeZone</key>
		<string>America/Boise</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BOS</string>
		<key>city</key>
		<string>Boston Logan</string>
		<key>state</key>
		<string>MA</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BUF</string>
		<key>city</key>
		<string>Buffalo/Niagara</string>
		<key>state</key>
		<string>NY</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BUR</string>
		<key>city</key>
		<string>Burbank</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>BWI</string>
		<key>city</key>
		<string>Baltimore/Washington</string>
		<key>state</key>
		<string>MD</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>CAK</string>
		<key>city</key>
		<string>Akron/Canton</string>
		<key>state</key>
		<string>OH</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>CHS</string>
		<key>city</key>
		<string>Charleston</string>
		<key>state</key>
		<string>SC</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>CLE</string>
		<key>city</key>
		<string>Cleveland</string>
		<key>state</key>
		<string>OH</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>CMH</string>
		<key>city</key>
		<string>Columbus</string>
		<key>state</key>
		<string>OH</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>CRP</string>
		<key>city</key>
		<string>Corpus Christi</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>DAL</string>
		<key>city</key>
		<string>Dallas (Love Field)</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>DAY</string>
		<key>city</key>
		<string>Dayton</string>
		<key>state</key>
		<string>OH</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>DCA</string>
		<key>city</key>
		<string>Washington (Reagan)</string>
		<key>state</key>
		<string>DC</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>DEN</string>
		<key>city</key>
		<string>Denver</string>
		<key>state</key>
		<string>CO</string>
        <key>timeZone</key>
		<string>America/Denver</string>
	</dict>
    <dict>
		<key>airportCode</key>
		<string>DSM</string>
		<key>city</key>
		<string>Des Moines</string>
		<key>state</key>
		<string>IA</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>DTW</string>
		<key>city</key>
		<string>Detroit</string>
		<key>state</key>
		<string>MI</string>
        <key>timeZone</key>
		<string>America/Detroit</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ECP</string>
		<key>city</key>
		<string>Panama City Beach</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ELP</string>
		<key>city</key>
		<string>El Paso</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Denver</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>EWR</string>
		<key>city</key>
		<string>Newark</string>
		<key>state</key>
		<string>NJ</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>FLL</string>
		<key>city</key>
		<string>Ft. Lauderdale</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>GEG</string>
		<key>city</key>
		<string>Spokane</string>
		<key>state</key>
		<string>WA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>GSP</string>
		<key>city</key>
		<string>Greenville/Spartanburg</string>
		<key>state</key>
		<string>SC</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>HOU</string>
		<key>city</key>
		<string>Houston (Hobby)</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>HRL</string>
		<key>city</key>
		<string>Harlingen</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>IAD</string>
		<key>city</key>
		<string>Washington (Dulles)</string>
		<key>state</key>
		<string>DC</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>IND</string>
		<key>city</key>
		<string>Indianapolis</string>
		<key>state</key>
		<string>IN</string>
        <key>timeZone</key>
		<string>America/Indiana/Indianapolis</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ISP</string>
		<key>city</key>
		<string>Long Island</string>
		<key>state</key>
		<string>NY</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>JAN</string>
		<key>city</key>
		<string>Jackson</string>
		<key>state</key>
		<string>MS</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>JAX</string>
		<key>city</key>
		<string>Jacksonville</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>LAS</string>
		<key>city</key>
		<string>Las Vegas</string>
		<key>state</key>
		<string>NV</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>LAX</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>LBB</string>
		<key>city</key>
		<string>Lubbock</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>LGA</string>
		<key>city</key>
		<string>New York (LaGuardia)</string>
		<key>state</key>
		<string>NY</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>LIT</string>
		<key>city</key>
		<string>Little Rock</string>
		<key>state</key>
		<string>AR</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MAF</string>
		<key>city</key>
		<string>Midland/Odessa</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MCI</string>
		<key>city</key>
		<string>Kansas City</string>
		<key>state</key>
		<string>MO</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MCO</string>
		<key>city</key>
		<string>Orlando</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MDW</string>
		<key>city</key>
		<string>Chicago (Midway)</string>
		<key>state</key>
		<string>IL</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MHT</string>
		<key>city</key>
		<string>Manchester</string>
		<key>state</key>
		<string>NH</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MKE</string>
		<key>city</key>
		<string>Milwaukee</string>
		<key>state</key>
		<string>WI</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MSP</string>
		<key>city</key>
		<string>Minneapolis/St. Paul</string>
		<key>state</key>
		<string>MN</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>MSY</string>
		<key>city</key>
		<string>New Orleans</string>
		<key>state</key>
		<string>LA</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>OAK</string>
		<key>city</key>
		<string>Oakland</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>OKC</string>
		<key>city</key>
		<string>Oklahoma City</string>
		<key>state</key>
		<string>OK</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>OMA</string>
		<key>city</key>
		<string>Omaha</string>
		<key>state</key>
		<string>NE</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ONT</string>
		<key>city</key>
		<string>Ontario/LA</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>ORF</string>
		<key>city</key>
		<string>Norfolk</string>
		<key>state</key>
		<string>VA</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>PBI</string>
		<key>city</key>
		<string>West Palm Beach</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>PDX</string>
		<key>city</key>
		<string>Portland</string>
		<key>state</key>
		<string>OR</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>PHL</string>
		<key>city</key>
		<string>Philadelphia</string>
		<key>state</key>
		<string>PA</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>PHX</string>
		<key>city</key>
		<string>Phoenix</string>
		<key>state</key>
		<string>AZ</string>
        <key>timeZone</key>
		<string>America/Phoenix</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>PIT</string>
		<key>city</key>
		<string>Pittsburgh</string>
		<key>state</key>
		<string>PA</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>PVD</string>
		<key>city</key>
		<string>Providence</string>
		<key>state</key>
		<string>RI</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>RDU</string>
		<key>city</key>
		<string>Raleigh/Durham</string>
		<key>state</key>
		<string>NC</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>RNO</string>
		<key>city</key>
		<string>Reno/Tahoe</string>
		<key>state</key>
		<string>NV</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>RSW</string>
		<key>city</key>
		<string>Ft. Myers</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SAN</string>
		<key>city</key>
		<string>San Diego</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SAT</string>
		<key>city</key>
		<string>San Antonio</string>
		<key>state</key>
		<string>TX</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SDF</string>
		<key>city</key>
		<string>Louisville</string>
		<key>state</key>
		<string>KY</string>
        <key>timeZone</key>
		<string>America/Kentucky/Louisville</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SEA</string>
		<key>city</key>
		<string>Seattle/Tacoma</string>
		<key>state</key>
		<string>WA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SFO</string>
		<key>city</key>
		<string>San Francisco</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SJC</string>
		<key>city</key>
		<string>San Jose</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SLC</string>
		<key>city</key>
		<string>Salt Lake City</string>
		<key>state</key>
		<string>UT</string>
        <key>timeZone</key>
		<string>America/Denver</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SMF</string>
		<key>city</key>
		<string>Sacramento</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>SNA</string>
		<key>city</key>
		<string>Orange County</string>
		<key>state</key>
		<string>CA</string>
        <key>timeZone</key>
		<string>America/Los_Angeles</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>STL</string>
		<key>city</key>
		<string>St. Louis</string>
		<key>state</key>
		<string>MO</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>TPA</string>
		<key>city</key>
		<string>Tampa Bay</string>
		<key>state</key>
		<string>FL</string>
        <key>timeZone</key>
		<string>America/New_York</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>TUL</string>
		<key>city</key>
		<string>Tulsa</string>
		<key>state</key>
		<string>OK</string>
        <key>timeZone</key>
		<string>America/Chicago</string>
	</dict>
	<dict>
		<key>airportCode</key>
		<string>TUS</string>
		<key>city</key>
		<string>Tucson</string>
		<key>state</key>
		<string>AZ</string>
        <key>timeZone</key>
		<string>America/Phoenix</string>
	</dict>
</array>
</plist>
