<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ABQ</string>
	<string>ALB</string>
	<string>AMA</string>
	<string>ATL</string>
	<string>AUS</string>
	<string>BDL</string>
	<string>BHM</string>
	<string>BNA</string>
	<string>BOI</string>
	<string>BOS</string>
	<string>BUF</string>
	<string>BUR</string>
	<string>BWI</string>
	<string>CAK</string>
	<string>CHS</string>
	<string>CLE</string>
	<string>CMH</string>
	<string>CRP</string>
	<string>DAL</string>
	<string>DAY</string>
	<string>DCA</string>
	<string>DEN</string>
	<string>DTW</string>
	<string>ECP</string>
	<string>ELP</string>
	<string>EWR</string>
	<string>FLL</string>
	<string>GEG</string>
	<string>GSP</string>
	<string>HOU</string>
	<string>HRL</string>
	<string>IAD</string>
	<string>IND</string>
	<string>ISP</string>
	<string>JAN</string>
	<string>JAX</string>
	<string>LAS</string>
	<string>LAX</string>
	<string>LBB</string>
	<string>LGA</string>
	<string>LIT</string>
	<string>MAF</string>
	<string>MCI</string>
	<string>MCO</string>
	<string>MDW</string>
	<string>MHT</string>
	<string>MKE</string>
	<string>MSP</string>
	<string>MSY</string>
	<string>OAK</string>
	<string>OKC</string>
	<string>OMA</string>
	<string>ONT</string>
	<string>ORF</string>
	<string>PBI</string>
	<string>PDX</string>
	<string>PHL</string>
	<string>PHX</string>
	<string>PIT</string>
	<string>PVD</string>
	<string>RDU</string>
	<string>RNO</string>
	<string>RSW</string>
	<string>SAN</string>
	<string>SAT</string>
	<string>SDF</string>
	<string>SEA</string>
	<string>SFO</string>
	<string>SJC</string>
	<string>SLC</string>
	<string>SMF</string>
	<string>SNA</string>
	<string>STL</string>
	<string>TPA</string>
	<string>TUL</string>
	<string>TUS</string>
</array>
</plist>
